* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #ebebeb;
}

body {
    background-color: #070708;
}

header {
    background-image: url('../img/path_of_exile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header, main {
    padding: 30px;
}

h1, h2{
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
    color: #fcba03;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: -5px 0 30px;
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3 span {
    color: #fcba03;
    font-size: 1.3rem;
}

aside {
    display: none;
}

article > section {
    flex: 1;
    background-color: #131314;
    padding: 30px;
}

section > section {
    background-color: #424242;
    margin-bottom: 30px;
    padding: 30px;
    min-height: 300px;
}

section > section:last-child {
    margin-bottom: 0;
}

#section-canvas {
    min-height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section p {
    margin-bottom: 20px;
}

.sources {
    margin: 30px 0 0;
    text-align: right;
    font-size: 0.8rem;
}

figure {
    padding: 10px;
    margin-bottom: 20px;
}

figure img {
    width: 100%;
}

figcaption {
    background-color: #131314;
    padding: 10px;
    font-size: 0.8rem;
}

h3 + img {
    width: 100%;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #5ecde6;
}

a:focus {
    color: #fcba03;
    text-decoration: underline;
    outline: solid 1px #ebebeb;
}

a:hover {
    color: #fcba03;
    text-decoration: underline;
}

#stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#stats p {
    margin-bottom: 5;
}

#stats span {
    color: #5ecde6;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-around;
    color: #fcba03;
    font-size: 0.8rem;
    padding: 20px;
    background-color: #131314;
}

@media screen and (min-width: 769px) {
    figure {
        width: 300px;
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1025px) {
    header {
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 5.5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h3 span {
        font-size: 2.5rem;
    }

    h3 + img {
        max-width: 350px;
        float: left;
        margin: 0 20px 20px 0;
    }

    h4 {
        font-size: 1.3rem;
        color: #5ecde6;
        margin-bottom: 5px;
    }

    article {
        display: flex;
        justify-content: space-between;
    }

    article > section {
        min-width: 500px;
    }

    aside {
        background-color: #131314;
        padding: 30px;
        box-sizing: border-box;
        max-width: 350px;
        margin-right: 30px;
        display: block;
        height: 100%;
    }

    aside img {
        width: 100%;
        margin-bottom: 20px;
    }

    aside .sources {
        margin: -20px 0 20px;
    }

    figure {
        width: 400px;
        float: left;
        margin-right: 20px;
    }
}